.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.app-content{
  width: 500px;
  height: 99%;
  border: 2px solid ;
}
